name: ZAP API Scan (single POST)

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run ZAP Automation Plan
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            zap.sh -cmd -autorun /zap/wrk/simple-testfire-post.yaml

      - name: Upload ZAP Output
        uses: actions/upload-artifact@v4
        with:
          name: zap-output
          path: |
            *.log
            *.html
            *.json
            *.md
